table tr{
    border-bottom: 1px solid #f2f2f2;
}
tr:nth-last-child(2){
    border-bottom: 1px solid black;
}
table td{
    font-weight: bold;
    padding-bottom: 5px;
}
table td:last-child{
    padding-left: 55px;
}